terraform/variables.tf
terraform/*.disabled
terraform/terraform.tfstate.*
terraform/terraform.tfstate
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
packer/variables.pkr.hcl